@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
}

/*トップページ*/

#firstview{
    background-image: url("images/background.jpg");
    background-size: cover;
    text-align: center;    

}

.topimage{
    width: 80%;
}

.dash{
    width: 5%;
    position: absolute;
    top: 63%;
    left: 17%;
}

#firstview p{
    text-align: left;
    color: #3D3B39;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 10px;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 23%;
    
}

/*絵の歴史*/

#history{
    background-image: url(images/background_gradation.jpg);
    background-size: cover;
    height: 4300px;
}

.sho_title{
    width: 20%;
    position: relative;
    top: -100px;
    left: 300px;
}

.sho_copy{
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: -5px;
    left: 30px;
}

.sho_1{
    width: 40%;
    position: relative;
    top: 150px;
    left: 200px; 
}

.sho_2{
    width: 30%;
    position: relative;
    top: 0px;
    left: 280px;
}

.sho_3{
    width: 10%;
    position: relative;
    top: -320px;
    left: 510px;
}

.sho_arrow{
    width: 20%;
    position: relative;
    top: 200px;
    left: 0px;
}

.chu_1{
    width: 20%;
    position: relative;
    top: 370px;
    left: 0px;
}

.chu_2{
    width: 27%;
    position: relative;
    top: 250px;
    left: 280px;   
}

.chu_title{
    width: 20%;
    position: relative;
    top: 100px;
    left: 500px;
}

.chu_copy{
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: 250px;
    left: 230px;    
}

.chu_arrow{
    width: 10%;
    position: relative;
    top: 730px;
    left: -300px;
}

.ko_1{
    width: 30%;
    position: relative;
    top: 300px;
    left: 200px;
}

.ko_2{
    width: 30%;
    position: relative;
    top: 730px;
    left: 270px;
}

.ko_3{
    width: 15%;
    position: relative;
    top: 650px;
    left: -600px;   
}

.ko_arrow{
    width: 10%;
    position: relative;
    top: 1150px;
    left: -550px;  
}

.dai_1{
    width: 10%;
    position: relative;
    top: 930px;
    left: -550px;
}

.dai_2{
    width: 25%;
    position: relative;
    top: 750px;
    left: 800px;
}

.dai_3{
    width: 30%;
    position: relative;
    top: 850px;
    left: -150px;
}

.dai_4{
    width: 35%;
    position: relative;
    top: 1300px;
    left: -100px;
}

.dai_title{
    width: 20%;
    position: relative;
    top: 900px;
    left: 300px;
}

.dai_copy{
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: 1025px;
    left: 40px;
    
}

/*スライダー*/

#slider{
    background-color: #ED694A;
}

#slider p{
    text-align: center;
    color: #FCFC17;
    font-family: vdl-logojrblack, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 10px;
    padding: 50px;
}

/*エンディング*/

#ending{
    background-image: url(images/background.jpg);
    background-size: cover;
    text-align: center;
    height: 667px;
}

.endimage{
    width: 81%;
}

.end_tips{
    text-align: left;
    background-color: #E5E3DC;
    display: inline-block;
    padding: 40px;
    border: solid  4px #3D3B39;
    border-radius: 30px;
    position: relative;
    top: -250px;
    left: -200px;
}

.end_tips p{
    color: #3D3B39;
    font-size: 20px;
    line-height: 13px;
    letter-spacing: 2px;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600; 
}

footer{
    background-color: #38B9C6;
    text-align: center;
}

footer p{
    color: #ffffff;
    font-family: nimbus-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 8px;
}