@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

/*トップページ*/

#firstview {
    background-image: url("images/background.svg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    z-index: -1;                
}

#yellowbox{
    width: 97%;
    height: 94%;
    position: fixed;
    top: 10px;
    left: 13px;
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0);
    border: solid 8px yellow;
    border-radius: 50px;
}

.frame{
    width: 98%;
    height: 95%;
    padding-top: 10px;
    position: fixed;
    top: 0px;
    left: 13px;
    display: inline-block;
    margin: 0 auto;
/*    z-index: 100;*/
}

.topimage {
    width: 80%;
}

.dash {
    width: 5%;
    position: absolute;
    top: 63.2%;
    left: 17%;
}

#firstview p {
    text-align: left;
    color: #3D3B39;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 10px;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 23%;
}

.button {
    width: 5%;
    position: absolute;
    top: 83%;
    left: 50%;
}

.button:hover {
    display: none;
}

.button_hover {
    width: 5%;
    position: absolute;
    top: 83%;
    left: 50%;
   
}

.button_hover:hover {
    display: block;
}

/*絵の歴史*/

#history {
    background-image: url(images/background_gradation.svg);
    background-size: cover;
    background-attachment: fixed;
    height: 4200px;
}

/*フェードイン*/

.scrollanime {
    opacity: 0;
}

/*一瞬表示されるのを防ぐ*/
.scrollanime1 {
    opacity: 0;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*2.上下の動きを指定*/
.updown {
    transform: translateY(-100px);
}

.downup {
    transform: translateY(100px);
}

/*3.左右の動きを指定*/
.sect02 {
    overflow: hidden;
}

/*横スクロールバーを隠す*/
.slide-right {
    transform: translateX(200px);
}

.slide-left {
    transform: translateX(-200px);
}


/*ポップアップ*/

#popup {
    position: absolute;
    z-index: 50;
}

#popup {
    padding: 0 4px;
}

#popup .upblock {
    text-align: center;
    display: none;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: rgba(56, 185, 198, .75);
    border: 2px solid #e5e3dc;
    padding: 20px 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#popup .upblock_orange {
    text-align: center;
    display: none;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: rgba(237, 105, 74, .75);
    border: 2px solid #e5e3dc;
    padding: 20px 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#popup p {
    padding: 5px;
}

#popup .explanation {
    font-size: 16px;
}


/*絵*/

.sho_title {
    width: 20%;
    position: relative;
    top: -100px;
    left: 300px;
}

.sho_copy {
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: -5px;
    left: 30px;
}

.sho_1 {
    width: 40%;
    position: relative;
    top: 150px;
    left: 200px;
    cursor: pointer;
}

.sho_2 {
    width: 30%;
    position: relative;
    top: 0px;
    left: 280px;
    cursor: pointer;
}

.sho_3 {
    width: 10%;
    position: relative;
    top: -320px;
    left: 510px;
}

.sho_arrow {
    width: 20%;
    position: relative;
    top: 200px;
    left: 0px;
}

.chu_1 {
    width: 20%;
    position: relative;
    top: 370px;
    left: 0px;
    cursor: pointer;
}

.chu_2 {
    width: 27%;
    position: relative;
    top: 250px;
    left: 280px;
    cursor: pointer;
}

.chu_title {
    width: 20%;
    position: relative;
    top: 100px;
    left: 500px;
}

.chu_copy {
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: 250px;
    left: 230px;
}

.chu_arrow {
    width: 10%;
    position: relative;
    top: 730px;
    left: -300px;
}

.ko_1 {
    width: 30%;
    position: relative;
    top: 300px;
    left: 200px;
    cursor: pointer;
}

.ko_2 {
    width: 30%;
    position: relative;
    top: 730px;
    left: 270px;
    cursor: pointer;
}

.ko_3 {
    width: 15%;
    position: relative;
    top: 850px;
    left: -600px;
}

.ko_arrow {
    width: 10%;
    position: relative;
    top: 1150px;
    left: -550px;
}

.dai_1 {
    width: 10%;
    position: relative;
    top: 1000px;
    left: -550px;
}

.dai_2 {
    width: 25%;
    position: relative;
    top: 680px;
    left: 800px;
    cursor: pointer;
}

.dai_3 {
    width: 30%;
    position: relative;
    top: 850px;
    left: -150px;
    cursor: pointer;
}

.dai_4 {
    width: 35%;
    position: relative;
    top: 1200px;
    left: -100px;
    cursor: pointer;
}

.dai_title {
    width: 20%;
    position: relative;
    top: 880px;
    left: 300px;
}

.dai_copy {
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: 1000px;
    left: 40px;

}

/*スライダー*/

#slider {
    background-color: #ED694A;
    text-align: center;
}

#slider p {
    color: #FCFC17;
    font-family: vdl-logojrblack, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 10px;
    padding: 50px;
}

.slider {
    margin: 0px auto;
    width: 80%;
    height: auto;
}

.slider img {
    width: 95%;
}

slick setting .slick-prev:before,
.slick-next:before {
    color: #ed694a;
}

/*エンディング*/

#ending {
    background-image: url(images/background.svg);
    background-size: cover;
    text-align: center;
    height: 668px;
}

.endimage {
    width: 81%;
}

.end_tips {
    text-align: left;
    background-color: #E5E3DC;
    display: inline-block;
    padding: 40px;
    border: solid 4px #3D3B39;
    border-radius: 30px;
    position: relative;
    top: -250px;
    left: -200px;
}

.end_tips p {
    color: #3D3B39;
    font-size: 20px;
    line-height: 13px;
    letter-spacing: 2px;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
}

footer {
    background-color: #38B9C6;
    text-align: center;
}

footer p {
    color: #ffffff;
    font-family: nimbus-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 8px;
}
