@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

/*トップページ*/

#firstview {
    background-image: url("images/background_sp.svg");
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
    z-index: -1;
    height: 109vh;
}

#yellowbox{
    width: 90%;
    height: 95%;
    position: fixed;
    top: 15px;
    left: 13px;
    border: solid 6px #fcfc17;
    border-radius: 50px;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;    
}


.title_sp{
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    padding-top: 50px;
}

.topimage{
    display: none;
}

.topimage_sp{
    width: 100%;
    position: relative;
    top: -50px;
}

.dash {
    width: 10%;
    height: 0.5%;
    position: absolute;
    top: 82.5%;
    left: 5%;
}

#firstview p {
    text-align: left;
    color: #3D3B39;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 5px;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 18%;
}

span{
    background-color: #E5E3DC;
    padding: 1px;
}

.link-button{
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,0);
    position: absolute;
    top: 107%;
    left: 40%;
    animation: key1 .3s ease infinite alternate;    
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

.button{
    width: 100%;
    position: absolute;
    left: 15%;
    display: block;
}

/*絵の歴史*/

#history {
    background-image: url(images/background_gradation.svg);
    background-size: cover;
    height: 5550px;
}

.introduction{
    display: none;
}

.introduction_sp{
    text-align: center;
    color: #fcfc17;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-top: 100px;
    outline: none;
}

/*フェードイン*/

.scrollanime {
    opacity: 0;
}

/*一瞬表示されるのを防ぐ*/
.scrollanime1 {
    opacity: 0;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*2.上下の動きを指定*/
.updown {
    transform: translateY(-100px);
}

.downup {
    transform: translateY(100px);
}

/*横スクロールバーを隠す*/
.sect02 {
    overflow: hidden;
}

/*3.左右の動きを指定*/
/*
.slide-right {
    transform: translateX(200px);
}
*/

/*
.slide-left {
    transform: translateX(-200px);
}
*/

/*ポップアップ*/

#popup {
    position: absolute;
    z-index: 50;
}

#popup {
    padding: 0 4px;
}

#popup .upblock {
    text-align: center;
    display: none;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: rgba(56, 185, 198, .75);
    border: 2px solid #e5e3dc;
    padding: 10px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow-x: hidden;
}

#popup .upblock_orange {
    text-align: center;
    display: none;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: rgba(237, 105, 74, .75);
    border: 2px solid #e5e3dc;
    padding: 10px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#popup p {
    padding: 5px;
}

#popup .explanation {
    font-size: 10px;
}


/*絵*/

.sho_title {
    display: none;
}

.sho_title_sp{
    margin-top: 100px;
    position: relative;
    top: 0%;
    left: 65%;
}

.sho_copy {
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: -100px;
    left: 10px;
    writing-mode: vertical-rl;
}

.sho_1 {
    width: 85%;
    position: relative;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

.sho_2 {
    width: 70%;
    position: relative;
    top: 120px;
    left: 50px;
    cursor: pointer;
}

.sho_3 {
    width: 40%;
    position: relative;
    top: 100px;
    left: 180px;
}

.sho_arrow {
    display: none;
}

.sho_arrow_sp{
    position: relative;
    top: 180px;
    left: -55px;    
}

.chu_title_sp{
    position: relative;
    top: 400px;
    left: -100px;    
}

.chu_copy {
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: -570px;
    left: 200px;
    writing-mode: vertical-rl;    
}

.chu_1{
    width: 60%;
    position: relative;
    top: 550px;
    left: 60px;
    cursor: pointer;    
}

.chu_2 {
    width: 80%;
    position: relative;
    top: 620px;
    left: 37px;
    cursor: pointer;
}

.chu_title{
    display: none;
}

.chu_arrow {
    display: none;
}

.ko_1 {
    width: 60%;
    position: relative;
    top: 820px;
    left: -110px;
    cursor: pointer;
}

.ko_2 {
    width: 80%;
    position: relative;
    top: 860px;
    left: 37px;
    cursor: pointer;
}

.ko_3 {
    width: 45%;
    position: relative;
    top: -140px;
    left: 170px;
}

.ko_arrow {
    display: none;
}

.chu_arrow_sp{
    width: 9%;
    position: relative;
    top: 890px;
    left: 80px;    
}

.dai_title_sp{
    position: relative;
    top: 1200px;
    left: 32px;
}

.dai_1{
    width: 50%;
    position: relative;
    top: 600px;
    left: 40px;
}

.dai_2 {
    width: 80%;
    position: relative;
    top: 1130px;
    left: 60px;
    cursor: pointer;
}
.dai_3 {
    width: 80%;
    position: relative;
    top: 650px;
    left: 10px;
    cursor: pointer;
}

.dai_4 {
    width: 80%;
    position: relative;
    top: 900px;
    left: 35px;
    cursor: pointer;
}

.dai_title {
    display: none;
}

.dai_copy {
    display: inline-block;
    color: #e5e3dc;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: -270px;
    left: 60px;    
    writing-mode: vertical-rl;    
}

.dai_arrow_sp{
    position: relative;
    top: 920px;
    left: 50px;
}

/*スライダー*/

#slider {
    background-color: #ED694A;
    text-align: center;
    height: 840px;
}

#slider p {
    color: #FCFC17;
    font-family: vdl-logojrblack, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 10px;
    padding: 50px;
}

.slider {
    margin: 0px auto;
    margin-top: 10px;
    width: 90%;
    height: auto;
}

.slider img {
    width: 90%;
    margin: 0 auto;
}

slick setting .slick-prev:before,
.slick-next:before {
    color: #ed694a;
}


/*エンディング*/

#ending {
    background-image: url(images/background.svg);
    background-size: cover;
    text-align: center;
    height: 820px;
}

.endimage {    
    display: none;
}

.endtitle_sp{
    width: 85%;
    position: relative;
    top: -460px;
}

.endimage_sp{
    position: relative;
    top: 318px;
}

.end_tips {
    text-align: left;
    background-color: #E5E3DC;
    display: inline-block;
    padding: 20px;
    border: solid 4px #3D3B39;
    border-radius: 30px;
    position: relative;
    top: -430px;
    left: 0px;
}

.end_tips p {
    color: #3D3B39;
    font-size: 10px;
    line-height: 4px;
    letter-spacing: 2px;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-style: normal;
    font-weight: 600;
}

footer {
    background-color: #38B9C6;
    text-align: center;
}

footer p {
    color: #ffffff;
    font-family: nimbus-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px;
    padding-top: 12px;
}

